.angular/
.claude/
.git/
.github/
.gradle/
.idea/
.vscode/
build/
classes/
coverage/
dist/
node_modules/
out/
out-tsc/

*.ids
*.iml
*.ipr
*.iws
*.log
*.orig
*.swp
*.swo

devdocs/
LOCAL_CONTEXT.md
npm-debug.log*
